@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.cyan-blue {
  color: #182933;
}

.light-blue {
  color: #70B9DF;
}

.bg-light-blue {
  background-color: #70B9DF;
}

.bg-blue {
  background-color: #1D68AE;
}

.bg-dark-blue {
  background-color: #00418A;
}

.description-justify {
  text-align: justify;
  text-justify: inter-character;
}

.mobile-view-menu-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(112, 185, 223, 1) 100%);
}

.grecaptcha-badge {
  visibility: hidden;
}