@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.cyan-blue {
  color: #182933;
}

.light-blue {
  color: #70B9DF;
}

.bg-light-blue {
  background-color: #70B9DF;
}